*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.carrusel{
    width: 100%;
    display: flex;
    max-height: 500px;
    
}

.noticiasfeed{
    text-align: center;
}

.noticiasfeed h1{
    font-size: 28px;
    font-weight: 700;
    text-decoration: underline;
}

.noticiasfeed h5{
    font-size: 16px;
}

.noticiasfeed p{
    font-size: 12px;
}

.multimedia{
    text-align: center;
    background-image: url(img/fondo.png);
    background-position: center;
}

.multimedia h1{
    font-size: 28px;
    font-weight: 700;
    text-decoration: underline;
    color: #f4f4f4;
}

.multimedia h2{
    color: #f4f4f4;
}

.multimedia img{
    max-width: 300px;
    border-color: #f4f4f4;
    border-style: double;
    border-width: 5px;
}

.multimedia h3{
    color: #fff;
    font-size: 16px;
}

.formulario{
    background-color: #f4f4f4;
    text-align: justify;
}

.historia h1{
    font-size: 28px;
    font-weight: 700;
    text-decoration: underline;
    text-align: center;
}

.noticias h2{
    font-size: 28px;
    font-weight: 900;
    text-decoration: underline;
    text-align: justify;
}

.noticias h5{
    font-size: 12px;
}

.textos{
    text-align: justify;
}

.encabezado{
    font-weight: 600;
    font-style: italic;
    margin: 10px;
}

.aside{
    background-color: #4f4f4f;
    padding: 0;
}

.aside li{
    list-style: none;
}

.aside a{
    text-decoration: none;
    color: #f4f4f4;
}

.aside a:hover{
    opacity: 50%;
    color: #f4f4f4;
    text-decoration: underline;
}

.aside h3{
    color: #f4f4f4;
}

.alineado{
    text-align: center;
}

.nosotros{
    text-align: justify;
}